div {
    
    background-color: transparent;
    opacity: 0;
    span.title {
        font-size: 12px;;
    }
    span {
        display: inline-block;
        text-align: left;
        font-size: 11px;;
    }
}