<app-loader></app-loader>
<div class="container-fluid">
<app-page-title title="Settings" ></app-page-title>
<div class="card">
    <tabset class="nav-tabs nav-tabs-custom tab-container">
        <tab heading="Chat">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="example-text-input" class="col-md-3 col-form-label">Owner UID
                                        <i class="bx bx-info-circle" title="Permet de travailler sur son/ses propres DATASETS"></i>
                                    </label>
                                    <input disabled [(ngModel)]="params.chat.ownerUID"  name="params.chat.ownerUID" class="form-control" type="text" id="example-text-input">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="example-text-input" class="col-md-3 col-form-label">Modèle
                                        <i class="bx bx-info-circle" title="Modèle IA a utiliser"></i>
                                    </label>
                                    
                                        <select class="form-select"  name="params.chat.model" [(ngModel)]="params.chat.model" >
                                            <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                                            <option value="gpt-4o-mini" selected>gpt-4o-mini</option>
                                            <option value="gpt-4o">gpt-4o</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="example-text-input" class="col-form-label">Prompt custom
                                        <i class="bx bx-info-circle" title="Orientation de l'AI pour customiser les alalyses et retours"></i>
                                    </label>
                                        <textarea [value]="params.chat.customPrompt"  (input)="onPromptChange($event)" name="params.customPrompt" formControlName="textarea" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="mb-3">
                        
                                <label for="example-text-input" class="col-form-label">Proposer des questions
                                    <i class="bx bx-info-circle" title="Votre dialogue est hostorisé de façon a ce que l'IA puisse se souvenir des différentes échanges"></i>
                                </label>
                                <input type="checkbox" id="params.chat.promptAddQuestions" name="params.chat.promptAddQuestions"  [(ngModel)]="params.chat.promptAddQuestions" class="form-control form-check-input">
                            </div>
                          </div>
                          <div class="col-6" *ngIf="params.chat.promptAddQuestions">
                            <div class="mb-3">
                                <label for="example-text-input" class="col-form-label">Nombre de questions
                                    <i class="bx bx-info-circle" title="Votre dialogue est hostorisé de façon a ce que l'IA puisse se souvenir des différentes échanges"></i>
                                </label>
                                <input [(ngModel)]="params.chat.promptAddQuestionsNumber"   name="params.chat.promptAddQuestionsNumber" class="form-control" type="number" id="params.chat.promptAddQuestionsNumber" value="3">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="example-text-input" class="">Max docs
                                        <i class="bx bx-info-circle" title="Nombre d'extraits en relation avec votre recherche a remonter"></i>
                                    </label>
                                        <input [(ngModel)]="params.chat.k"   name="params.chat.k" class="form-control" type="number" id="example-text-input">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                            
                                    <label for="example-text-input" class="col-form-label">Histo. conversation
                                        <i class="bx bx-info-circle" title="Votre dialogue est hostorisé de façon a ce que l'IA puisse se souvenir des différentes échanges"></i>
                                    </label>
                                    <input type="checkbox" id="flexSwitchCheckDefault" class="form-control form-check-input">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                        <button type="button"  (click)="validParamsChat()" class="btn btn-success form-control w-sm"><i class="mdi mdi-content-save-outline d-block font-size-16"></i> Save </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </tab>
        
        <tab heading="Account">
          <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="example-text-input" class="col-md-3 col-form-label">Name
                                    <i class="bx bx-info-circle" title="Permet de travailler sur son/ses propres DATASETS"></i>
                                </label>
                                <input [(ngModel)]="params.profile.name"  name="params.profile.name" class="form-control" type="text" id="example-text-input">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                              <label for="example-text-input" class="col-md-3 col-form-label">Surname
                                <i class="bx bx-info-circle" title="Permet de travailler sur son/ses propres DATASETS"></i>
                            </label>
                            <input [(ngModel)]="params.profile.surn"  name="params.profile.surn" class="form-control" type="text" id="example-text-input">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="button" (click)="validUser()" class="btn btn-success form-control w-sm"><i class="mdi mdi-content-save-outline d-block font-size-16"></i> Save </button>
                      </div>
                  </div>
                </form>
            </div>
          </div>
        </tab>
        <!--
        <tab heading="Subscription">
            <div class="card">
                <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="text-center mb-5">
                    <h4>Choose your Pricing plan</h4>
                    <p class="text-muted">To achieve this, it would be necessary to have uniform grammar, pronunciation and more
                      common words If several languages coalesce</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngFor="let data of pricingData" class="col-xl-3 col-md-6">
                  <div class="card plan-box">
                    <div class="card-body p-4">
                      <div class="d-flex">
                        <div class="flex-grow-1">
                          <h5>{{data.name}}</h5>
                          <p class="text-muted">{{data.text}}</p>
                        </div>
                        <div class="flex-shrink-0 ms-3">
                          <i class="bx {{data.icon}} h1 text-primary"></i>
                        </div>
                      </div>
                      <div class="py-4">
                        <h2>
                          <sup>
                            <small>$</small>
                          </sup>
                          {{data.price}}/
                          <span class="font-size-13">Per month</span>
                        </h2>
                      </div>
                      <div class="text-center plan-btn">
                        <a href="javascript: void(0);" (click)="buy(data.price)" class="btn btn-primary btn-sm position-relative">Select</a>
                      </div>
            
                      <div class="plan-features mt-5">
                        <p>
                          <i class="bx bx-checkbox-square text-primary me-2"></i> Free Live Support
                        </p>
                        <p>
                          <i class="bx bx-checkbox-square text-primary me-2"></i> Unlimited User
                        </p>
                        <p>
                          <i class="bx bx-checkbox-square text-primary me-2"></i> No Time Tracking
                        </p>
                        <p>
                          <i class="bx bx-checkbox-square text-primary me-2"></i> Free Setup
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
            </div>
        </tab>
        <tab heading="Orders">
            
        </tab>-->
        
        <tab heading="Actions">
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-danger form-control w-sm"><i class="mdi mdi-trash-can d-block font-size-16" (click)="cleanIndex()"></i> Delete your data index </button>
              </div>
            </div>
        </tab>
    </tabset>
</div>
</div>