.categories-list { 
    //max-height: 100%;
    overflow-y: scroll;
    color: var(--bs-gray-700);
    //border: 1px solid var(--bs-input-border-color);
    //border-radius: 0.25rem;
    li {
        ul {
            max-height: 500px;
            overflow: hidden;
            overflow-y: scroll;
            li {
                a {
                    font-size: 11px;
                    span {
                        white-space:nowrap;
                    }
                }
            }
        }
    }
}


.work-content {
    height: 400px;
    .docContent {
        position: absolute;
        inset: 70px 0 0px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .pr-0 {
        padding-right: 0;
    }
    .promptsCol {
        max-width: 150px;
    }
    tabset {
        height: 100%;
        max-height: 100%;
    }
    .filemanager-sidebar {
        padding: 5px;
        overflow: hidden;
        overflow-y: scroll;
        .sidebCtrlsContainer {
          position: relative;
            .addButton {
                position: absolute;
                top:0;
                left: 0;
                right: 0;
            }
            .filterTxtContainer {
                position: absolute;
                top:40px;
                left: 0;
                right: 0;
            }
            .fileManagerContainer {
                position: absolute;
                top:80px;
                left: 0;
                right: 0;
            }
      
        }
    }
    .chat-conversation {
        position: absolute;
        left: 0;
        bottom: 70px;
        top:30px;
        right: 0;
    }
    .chat-input-section {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 5px !important;
    }
    [data-layout-mode="dark"] {
        .chat-input-section {
            background-color: #262b3c;
        }   
    }
    [data-layout-mode="light"] {
        .chat-input-section {
            background-color: #fff;
        }   
    }
}

