<div class="container-fluid">
    <app-page-title title="{{ 'FILEMANAGER.HEADER.TEXT' | translate}}"></app-page-title>
    
    <div class="d-xl-flex">
        <div class="w-100">
            <!--<div class="card" *ngIf="datasProcess.length>0">
                <div class="card-body" >
                    <alert [id]="pro.processUID" (close)="close(pro.processUID)" *ngFor="let pro of datasProcess" type="info" [dismissible]="true"  role="alert">
                        <i class="mdi mdi-alert-circle-outline me-2"></i>
                        {{pro.msg}}: <strong>{{pro.dataTitle}}</strong>
                    </alert>
                </div>
            </div>-->
                    
            <div #workContent class="d-md-flex work-content">
                <!-- filemanager-leftsidebar -->
                <div class="card filemanager-sidebar me-md-2">
                    <!--ACTIONS--> 
                    <div class="mb-1 addButton">
                        
                        <div class="dropdown" dropdown>
                            <button class="btn btn-light w-100 "  data-toggle="dropdown" dropdownToggle
                            aria-haspopup="true" aria-expanded="false"
                                type="button" >
                                <i class="mdi mdi-plus me-1"></i> {{ 'FILEMANAGER.SIDEBARLEFT.ACTIONS.ADD.TEXT' | translate}}
                            </button>
                            
                            <div class="dropdown-menu" *dropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);" data-bs-toggle="modal" data-bs-target="#myModal" (click)="openModal(contentNuDr)"><i
                                        class="bx bx-folder me-1"></i> {{ 'FILEMANAGER.SIDEBARLEFT.ACTIONS.ADD.CAT.TEXT' | translate}}</a>
                                <ng-template #contentNuDr role="document" let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add/edit category</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef?.hide()"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label  for="formrow-firstname-input">Path</label>
                                                <input [disabled]="true" type="text" class="form-control" name="selectedCateg" [(ngModel)]="configService.selectedPath">
                                            </div>
                                            <div class="mb-3">
                                                <label  for="formrow-firstname-input">Category name</label>
                                                <input [disabled]="disablePops" type="text" class="form-control" name="categ.name" [(ngModel)]="categ.name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="formrow-firstname-input">Code couleur</label>
                                                <input type="color" [disabled]="disablePops" class="form-control" name="categ.color" [(ngModel)]="categ.color">
                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" [disabled]="disablePops" class="btn btn-secondary waves-effect" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
                                        <button type="button" [disabled]="disablePops" class="btn btn-primary waves-effect waves-light" (click)="saveCateg()" >Save</button>
                                    </div>
                                    </ng-template><!-- /.modal -->
                                        
                                
                                
                                <a class="dropdown-item" href="javascript: void(0);" data-bs-toggle="modal" data-bs-target="#myModal" (click)="openModal(contentNuFile)"><i
                                class="bx bx-file me-1"></i> {{ 'FILEMANAGER.SIDEBARLEFT.ACTIONS.ADD.DATA.TEXT' | translate}}</a>
                                <ng-template #contentNuFile role="document" let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add/edit data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef?.hide()"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <!--<div class="mb-3">
                                                <label for="chunkMode">Chunk mode
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <select [disabled]="disablePops" class="form-select"  name="chunkMode" >
                                                    <option value="adap">Adaptative</option>
                                                    <option value="sem" >Semantic</option>
                                                    <option value="rec" selected>Recursive</option>
                                                </select>
                                            </div>-->
                                            <div class="mb-3">
                                                <label  for="formrow-firstname-input">Path</label>
                                                <input [disabled]="true" type="text" class="form-control" name="selectedCateg" [(ngModel)]="configService.selectedPath">
                                            </div>
                                            <div class="mb-3">
                                                <label for="chunkMode">Data type
                                                    <i class="bx bx-info-circle" title="..."></i>



                                                </label>
                                                <select [disabled]="disablePops" class="form-select"  name="newSourcePop.sourceType" [(ngModel)]="newSourcePop.sourceType" >
                                                    <option value="file" selected>File</option>
                                                    <option value="free" >Free content</option>
                                                </select>
                                            </div>

                                            <div class="mb-3" *ngIf="newSourcePop.sourceType==='file'">
                                                <label for="fileinp">File
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <!--.zip-->
                                                <input  [disabled]="disablePops" type="file" class="form-control" accept=".pdf,.txt,.m4a,.jpg,.png"  name="fileinp" (change)="onFileSelected($event)"/>
                                            </div>
                                            <div class="mb-3" *ngIf="newSourcePop.sourceType==='free'">
                                                <label for="freeTitle">Title
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <input type="text" class="form-control"  name="newSourcePop.freeTitle" [(ngModel)]="newSourcePop.freeTitle" >
                                            </div>
                                            <div class="mb-3" *ngIf="newSourcePop.sourceType=='free'">
                                                <label for="freeContent">Content
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <textarea  class="form-control" rows="5"  name="newSourcePop.freeContent" [(ngModel)]="newSourcePop.freeContent"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fsAutoCat">Auto. categorization
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <input  [disabled]="disablePops" type="checkbox" id="fsAutoCat" name="newSourcePop.autoCat" [(ngModel)]="newSourcePop.autoCat" class="form-control form-check-input">
                                            </div>
                                            <div class="mb-3">
                                                <label for="fileinp">Metadatas
                                                    <i class="bx bx-info-circle" title="..."></i>
                                                </label>
                                                <div  class="hstack gap-2" *ngFor="let mm of tmpMetas">
                                                    <input  [disabled]="disablePops" class="form-control" type="input" value="{{mm.lib}}"/>
                                                    <input  [disabled]="disablePops" class="form-control" type="input" value="{{mm.val}}"/>
                                                </div>
                                            </div>
                                        
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <span style="float:left;">{{uploadStatus}}</span>
                                        <button type="button"  [disabled]="disablePops" class="btn btn-secondary waves-effect" data-bs-dismiss="modal" (click)="modalRef?.hide()">Close</button>
                                        <button type="button"  [disabled]="disablePops" (click)="saveFile()" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                    </div>
                                </ng-template><!-- /.modal -->

                                
                                

                            </div>
                        </div>
                    </div>
                    <!--TEXT FILTER--> 
                    <div class="mb-1 filterTxtContainer" >
                        <div  class="search-box mb-2 "><div  class="position-relative"><input  type="text" id="searchTableList" name="configService.fileFilterTerm" [(ngModel)]="configService.fileFilterTerm" placeholder="{{ 'FILEMANAGER.SIDEBARLEFT.TEXT_FILTER.TEXT' | translate}}" class="form-control ng-pristine ng-valid ng-touched"><i  class="bx bx-filter search-icon"></i></div></div>
                    </div>
                    <!--FICHIERS/CATEGORIES--> 
                    <ul class="list-unstyled categories-list fileManagerContainer">
                        <app-leftlistitemheader (checkEmitter)="check($event)" (showPreviewEmitter)="showData($event)" (selectCategOutput)="selectCateg($event)" *ngFor="let el of fileStructure" [element]="el"></app-leftlistitemheader>
                    </ul>
                </div>
                <!-- END.filemanager-leftsidebar -->
                 <!-- filemanager-content -->
                <div class="w-100 user-chat card">
                    <tabset class="nav-tabs nav-tabs-custom tab-container">
                        <tab [active]="maintabSelected==1"  heading="{{ ('FILEMANAGER.TABSHEADERS.CHAT.MAIN' | translate)+ ' ' + (filterOnFileUID?'('+('FILEMANAGER.TABSHEADERS.CHAT.FILTERED' | translate)+')':'')}}">
                            <div>
                                <div class="chat-conversation p-3">
                                    <ngx-simplebar style="height: 100%" #scrollRef>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let data of chatMessagesData" [ngClass]="
                                    {
                                        'right': data.align === 'right'
                                    }">
                                        <div class="conversation-list">
                                            <!--<div class="dropdown" dropdown>
                        
                                            <a class="dropdown-toggle" href="javascript: void(0);" role="button" dropdownToggle>
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </a>
                                            <div class="dropdown-menu" *dropdownMenu>
                                                <a class="dropdown-item" href="javascript: void(0);" (click)="copyMessage($event)">Copy</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Save</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Forward</a>
                                                <a class="dropdown-item" href="javascript: void(0);" (click)="deleteMessage($event)">Delete</a>
                                            </div>
                                            </div>-->
                                            <div class="ctext-wrap">
                                            <div class="conversation-name">{{ data.name | translate}}</div>
                                            <markdown  *ngIf="!data.welcome" [data]="data.message" >
                                                
                                            </markdown>
                                            <markdown  *ngIf="data.welcome" data="{{ data.message | translate}}" >
                                                
                                            </markdown>
                                            <p *ngIf="!data.welcome" class="chat-time mb-0">
                                                <!--<i class="bx bx-time-five align-middle me-1"></i> {{ data.time }}-->
                                                <a title="{{ 'FILEMANAGER.CHAT.MESSAGE.REDO' | translate}}" href="javascript:void(0)" (click)="redo(data.message)"><i class="bx bx bx-redo align-middle me-1"></i></a>
                                                <a title="{{ 'FILEMANAGER.CHAT.MESSAGE.COPY' | translate}}" href="javascript:void(0)" (click)="copy(data.message)"><i class="bx bx-copy align-middle me-1"></i></a>
                                            </p>
                                            <!--<div class="actions" style="float:right;">
                                                <i class="mdi mdi-thumb-up-outline"></i>
                                                <i class="mdi mdi-thumb-down-outline"></i>
                                                <i class="mdi mdi-refresh"></i>
                                            </div>-->
                                            
                                            </div>
                        
                                        </div>
                                        </li>
                                    </ul>
                                    <i *ngIf="loading" style="color:#4682ad;margin-left:3px;" class="bx bx-hourglass bx-spin font-size-14 align-middle"></i>
                                    </ngx-simplebar>
                                    
                                </div>
                                <div class="p-3 chat-input-section">
                                    <app-suggestions #suggestions (callParentFunc)="onSelectSuggest($event)"></app-suggestions>
                                    <form (ngSubmit)="messageSave()" [formGroup]="formData" class="row">

                                    
                                    <div class="col-auto pr-0 promptsCol" >
                                        <select #promptsList [disabled]="disablePops" class="form-select" (change)="selectPromptChange($event,promptsList.value)" >
                                            <option  *ngFor="let prpt of params.prompts" [selected]="prpt.uid==selectedPrompt" [value]="prpt.uid">{{prpt.lib}}</option>
                                        </select>
                                    </div>
                                    <div class="col pr-0">
                                        <div class="position-relative">
                                        
                                        <input type="text" class="form-control chat-input" placeholder="{{ 'FILEMANAGER.CHAT.SEARCHBAR.SEARCHTEXTPLACEHOLDER' | translate}}"
                                            formControlName="message" [ngClass]="{'is-invalid': chatSubmit && form.message.errors}"
                                            >
                                        <div *ngIf="chatSubmit && form.message.errors" class="invalid-feedback">
                                            <span *ngIf="form.message.errors.required">{{ 'FORMS.REQUIREDVAL' | translate}}</span>
                                        </div>
                                        <!--<div class="chat-input-links">
                                            <ul class="list-inline mb-0">
                                            <li class="list-inline-item"><a href="javascript: void(0);" class="emoji-btn"
                                                data-toggle="tooltip" placement="top" tooltip="Emoji" id="emoji-btn"
                                                ><i class="mdi mdi-emoticon-happy-outline"></i></a>
                                            </li>
                                            
                                            (click)="toggleEmojiPicker()"
                                            (emojiSelect)="addEmoji($event)"
                                            *ngIf="showEmojiPicker"
                                            <emoji-mart class="emoji-mart"  
                                                title="Pick your emoji…"></emoji-mart>
                                            <li class="list-inline-item"><a href="javascript: void(0);" data-toggle="tooltip" placement="top"
                                                tooltip="Images"><i class="mdi mdi-file-image-outline"></i></a></li>
                                            <li class="list-inline-item"><a href="javascript: void(0);" data-toggle="tooltip" placement="top"
                                                tooltip="Add Files"><i class="mdi mdi-file-document-outline"></i></a>
                                            </li>
                                            
                                            </ul>
                                        </div>-->
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary chat-send w-md"><span
                                            class="d-none d-sm-inline-block me-2">{{ 'FILEMANAGER.CHAT.SEARCHBAR.SEARCHBUTTON' | translate}}</span> <i class="mdi mdi-send"></i></button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            
                        </tab>
                        <tab *ngIf="loadingCurFile">
                            <ng-template tabHeading><i style="color:#4682ad;margin-left:3px;" class="bx bx-hourglass bx-spin font-size-14 align-middle"></i></ng-template>  
                        </tab>
                        <tab [active]="maintabSelected==2" *ngIf="!loadingCurFile && pdfPreviewURL" class="disabled">
                            <ng-template tabHeading>
                                <i [style.color]="(curFile.source_type === 'file/pdf'?'#da3c33':'#339dda')" [ngClass]="{'mdi-file-pdf-box': curFile.source_type === 'file/pdf','mdi-note-text': !curFile.source_type || (curFile.source_type=='free')}" class="mdi mdi-file-pdf-box font-size-16 me-2"></i>
                                {{curFile.original_fname}}
                            </ng-template>
                            <div class="previewMenu btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" (click)="docTabSelected=4" [ngClass]="{'active':docTabSelected==4}">Summary</button>
                                <button   *ngIf="(curFileIsFromIA==true)" type="button" class="btn btn-secondary" (click)="docTabSelected=5" [ngClass]="{'active':docTabSelected==5}">Contextes</button>
                                <button type="button" class="btn btn-secondary" (click)="docTabSelected=1" [ngClass]="{'active':docTabSelected==1}">Preview</button>
                                <button type="button" class="btn btn-secondary" (click)="docTabSelected=2" [ngClass]="{'active':docTabSelected==2}">Métadatas</button>
                                <button type="button" class="btn btn-secondary" (click)="docTabSelected=3" [ngClass]="{'active':docTabSelected==3}">Actions</button>
                            </div>
                            <div class="card docContent"  *ngIf="(docTabSelected==1)">
                                <div class="card-body">
                                    
                                    <!--<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(pdfPreviewURL)" *ngIf="(curFile.source_type=='file/pdf') && pdfPreviewURL"
                                        width="100%"
                                        height="500px"
                                        webkitallowfullscreen
                                        mozallowfullscreen
                                        allowfullscreen></iframe>-->
                                        
                                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(pdfPreviewURL)" *ngIf="((curFile.source_type=='image/jpeg') || (curFile.source_type=='image/png')) && pdfPreviewURL"/>
                                </div>
                            </div>
                            <div class="card docContent"  *ngIf="(docTabSelected==5) && (curFileIsFromIA==true)">
                                <div class="card-body">
                                    <div  *ngFor="let el of configService.aiResponseContexts  | contextFilter:curFile.fname">
                                        <h6>{{el.metadata.original_fname}}</h6>
                                        <p>
                                            {{el.pageContent}}
                                            <br/>
                                            <b>
                                            <span>Page {{el.metadata.pageLoc.pageNumber}}, lines {{el.metadata.pageLoc.lines.from+"-"+el.metadata.pageLoc.lines.to}}</span>
                                            </b>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card docContent"  *ngIf="(docTabSelected==2) && pdfPreviewURL">
                                <div class="card-body">
                                    <code>
                                        {{pdfMetas}}
                                    </code>
                                </div>    
                            </div>
                            <div class="card docContent"   *ngIf="(docTabSelected==4)" >
                                <div class="card-body">
                                    <span *ngIf="!curFile.summary" >Summary in progress <i *ngIf="!curFile.summary" style="color:#4682ad;margin-left:3px;" class="bx bx-hourglass bx-spin font-size-14 align-middle"></i></span>
                                    <markdown *ngIf="curFile.summary" [data]="curFile.summary">
                                    </markdown>
                                </div>    
                            </div>
                            
                            <div class="card"   *ngIf="(docTabSelected==3)">
                                <div class="card-body">
                                    <button type="button" class="btn btn-danger form-control w-sm"><i class="mdi mdi-trash-can d-block font-size-16" (click)="cleanVector()"></i> Delete file </button>
                                </div>
                            </div>
                            
                            
                        </tab>
                        
                    </tabset>
                        
                </div>      
                <!-- END.filemanager-content -->
                <!-- end w-100 -->
            </div>
            
        </div>
<!--
        <div class="card filemanager-sidebar ms-lg-2">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="font-size-15 mb-4">Storage</h5>
                    
                    <apx-chart dir="ltr" class="apex-charts" [chart]="radialoptions.chart"
                    [series]="radialoptions.series" [labels]="radialoptions.labels"
                    [colors]="radialoptions.colors" [grid]="radialoptions.grid"
                    [plotOptions]="radialoptions.plotOptions" [stroke]="radialoptions.stroke">
                    </apx-chart>

                    <p class="text-muted mt-4">48.02 GB (76%) of 64 GB used</p>
                </div>

                <div class="mt-4">
                    <div class="card border shadow-none mb-2">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center me-2">
                                        <div class="avatar-title rounded bg-transparent text-success font-size-20">
                                            <i class="mdi mdi-image"></i>
                                        </div>
                                    </div>

                                    <div class="overflow-hidden me-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Images</h5>
                                        <p class="text-muted text-truncate mb-0">176 Files</p>
                                    </div>

                                    <div class="ms-2">
                                        <p class="text-muted">6 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card border shadow-none mb-2">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center me-2">
                                        <div class="avatar-title rounded bg-transparent text-danger font-size-20">
                                            <i class="mdi mdi-play-circle-outline"></i>
                                        </div>
                                    </div>

                                    <div class="overflow-hidden me-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Video</h5>
                                        <p class="text-muted text-truncate mb-0">45 Files</p>
                                    </div>

                                    <div class="ms-2">
                                        <p class="text-muted">4.1 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card border shadow-none mb-2">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center me-2">
                                        <div class="avatar-title rounded bg-transparent text-info font-size-20">
                                            <i class="mdi mdi-music"></i>
                                        </div>
                                    </div>

                                    <div class="overflow-hidden me-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Music</h5>
                                        <p class="text-muted text-truncate mb-0">21 Files</p>
                                    </div>

                                    <div class="ms-2">
                                        <p class="text-muted">3.2 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card border shadow-none mb-2">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center me-2">
                                        <div class="avatar-title rounded bg-transparent text-primary font-size-20">
                                            <i class="mdi mdi-file-document"></i>
                                        </div>
                                    </div>

                                    <div class="overflow-hidden me-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Document</h5>
                                        <p class="text-muted text-truncate mb-0">21 Files</p>
                                    </div>

                                    <div class="ms-2">
                                        <p class="text-muted">2 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card border shadow-none">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center me-2">
                                        <div class="avatar-title rounded bg-transparent text-warning font-size-20">
                                            <i class="mdi mdi-folder"></i>
                                        </div>
                                    </div>

                                    <div class="overflow-hidden me-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Others</h5>
                                        <p class="text-muted text-truncate mb-0">20 Files</p>
                                    </div>

                                    <div class="ms-2">
                                        <p class="text-muted">1.4 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    -->
    </div>
    <!-- end row -->
</div>