<li class="list-item-head">
    <div class="custom-accordion">
        
        
        <a class="text-body fw-medium py-1 d-flex align-items-center"
            [attr.aria-expanded]="iscollapse" (click)="iscollapse = !iscollapse" 
            data-toggle="collapse" href="javascript:void(0);" role="button"
            aria-expanded="false" aria-controls="categories-collapse" title="{{ 'FILEMANAGER.SIDEBARLEFT.ALL_DATAS.TITLE' | translate}}">
            <i [style.color]="element.iconColor" [ngClass]="element.icon" class="mdi font-size-16 me-2"></i> {{element.title}} {{!loading?"("+0+")":""}}
            <!--<i *ngIf="loading" style="color:#4682ad;margin-left:3px;"  class="bx bx-hourglass bx-spin font-size-14 align-middle"></i>-->
            <i 
                class="mdi mdi-settings accor-down-icon ms-auto"></i>
            <i *ngIf="element.childs && element.childs.length>0" [ngClass]="iscollapse?'mdi-chevron-up':'mdi-chevron-down'" 
                class="mdi  accor-down-icon ms-auto"></i>
        </a>  
        
        
        <div class="collapse" id="categories-collapse"
            [collapse]="iscollapse">
            <div class="card border-0 shadow-none ps-2 mb-0">
                <ul class="list-unstyled mb-0">
                    <app-leftlistitem  (showPreviewEmitter)="showPreview($event)" (selectCategOutput)="selectCateg($event)" [type]="'categ'" *ngFor="let el of element.childs" [element]="el"></app-leftlistitem>
                </ul>
            </div>
        </div>
        
        
        
    </div>
</li>